.nom_emp{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /*se corre el punto de anclaje al centro del elemento*/
    text-align: center;
    background-color: #ffffff;
    color: blue;
}

menu:hover{
    transition: ease 0.5;
    background-color: darkslategray;
}
 
.menu{
    padding: 3px;
    text-align: center;
    color: blue;
    border: 2px black solid;
    border-radius: 20px;
    width: fit-content;
    position: relative;
    top: 8px;
    left: 15px;
} 
